---
export const prerender = true;

import "../styles/global.css";
import Header from "@/components/header";
import Footer from "@/components/footer";
import { WhatMakesUsDifferentSection } from "@/components/what-makes-us-different-section";
import DarkPanel from "@/components/dark-panel";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About Us | Cleverli</title>
  </head>
  <body
    class="flex min-h-screen flex-col items-center gap-8 overflow-x-hidden bg-linear-to-br from-slate-50 to-slate-100 lg:p-8"
  >
    <Header client:load pathname={Astro.url.pathname} />
    <div class="flex w-full max-w-360 flex-col gap-10 px-4 lg:gap-32 lg:px-0">
      <WhatMakesUsDifferentSection client:load />
      <DarkPanel
        client:load
        title="Ready To Grow With Cleverli?"
        description="If you are looking for a green learning partner, we’d love to hear from you."
        buttonText="Contact Us"
        buttonLink="/contact"
      />
    </div>
    <Footer client:load />
  </body>
</html>
