---
export const prerender = true;

import "../styles/global.css";
import Header from "@/components/header";
import Footer from "@/components/footer";
import { LocationSection } from "@/components/location-section";
import DarkPanel from "@/components/dark-panel";
import globeUrl from "@/svgs/location/globe.svg?url";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Contact Us | Cleverli</title>
  </head>
  <body
    class="flex min-h-screen flex-col items-center gap-8 overflow-x-hidden bg-linear-to-br from-slate-50 to-slate-100 lg:p-8"
  >
    <Header client:load pathname={Astro.url.pathname} />
    <div
      class="relative flex w-full max-w-360 flex-col gap-10 lg:gap-32 lg:px-0"
    >
      <!-- Globe Background -->
      <img
        src={globeUrl}
        alt=""
        class="pointer-events-none absolute top-[20%] left-1/2 -z-10 w-[140%] max-w-none -translate-x-1/2 opacity-50 sm:top-[10%] sm:w-[120%] lg:top-auto lg:bottom-[-350px] lg:w-[1280px]"
      />

      <div class="mt-10 lg:mt-20">
        <LocationSection client:load />
      </div>

      <div class="px-4 lg:px-0">
        <DarkPanel
          client:load
          title="Not Sure If Cleverli Fits Your Sector?"
          description="Let’s talk. We tailor learning to the needs of any knowledge-focused organization with full-service support every step of the way."
          buttonText="Sectors"
          buttonLink="/sectors"
        />
      </div>
    </div>
    <Footer client:load />
  </body>
</html>
