---
export const prerender = true;

import "../styles/global.css";
import Header from "@/components/header";
import Footer from "@/components/footer";
import GetInTouchSection from "@/components/get-in-touch-section";
import DarkPanel from "@/components/dark-panel";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Contact Us | Cleverli</title>
  </head>
  <body
    class="flex min-h-screen flex-col items-center gap-8 overflow-x-hidden bg-linear-to-br from-slate-50 to-slate-100 lg:p-8"
  >
    <Header client:load pathname={Astro.url.pathname} />
    <div class="flex w-full max-w-360 flex-col gap-10 px-4 lg:gap-32 lg:px-0">
      <p
        class="font-frutiger mx-auto text-center text-2xl font-normal text-slate-800 italic lg:mt-32 lg:max-w-5xl lg:text-[40px] lg:leading-12"
      >
        Let’s build smarter learning together. Reach out to schedule a free
        consultation or discuss your specific needs.
      </p>
      <GetInTouchSection client:load />
      <DarkPanel
        client:load
        title="Not Sure If Cleverli Fits Your Sector?"
        description="Let’s talk. We tailor learning to the needs of any knowledge-focused organization with full-service support every step of the way."
        buttonText="Sectors"
        buttonLink="/sectors"
      />
    </div>
    <Footer client:load />
  </body>
</html>
