---
import '../styles/global.css';
import Header from '@/components/header';
import RealAnimatedScene from '@/components/real-animated-scene';
import SectionTitleAnimation from '@/components/section-title-animation';
import ModulesCreatedSection from '@/components/modules-created-section';
import WhatWeCanDoSection from '@/components/what-we-can-do-section';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cleverli</title>
	</head>
	<body class="min-h-screen bg-linear-to-br from-slate-50 to-slate-100 flex flex-col items-center lg:p-8 gap-8 overflow-x-hidden">
		<Header client:load pathname={Astro.url.pathname} />
		<div class="max-w-360 flex flex-col gap-10 lg:gap-40 w-full px-4 lg:px-0">
			<RealAnimatedScene client:load />
			<SectionTitleAnimation
				client:load
				src="/src/svgs/cubes/cubes-left.svg"
				text="What We Do Best?"
			/>
			<ModulesCreatedSection client:load />
			<WhatWeCanDoSection client:load />
		</div>
	</body>
</html>
