---
import '../styles/global.css';
import RealAnimatedScene from '@/components/real-animated-scene';
import SectionTitleAnimation from '@/components/section-title-animation';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Cleverli</title>
	</head>
	<body class="min-h-screen bg-linear-to-br from-slate-50 to-slate-100 flex items-center justify-center p-8">
		<div class="max-w-360 flex flex-col gap-40">
			<RealAnimatedScene client:load />
			<SectionTitleAnimation
				client:load
				src="/src/svgs/cubes/cubes-left.svg"
				text="What We Do Best?"
			/>
		</div>
	</body>
</html>
