---
export const prerender = true;

import "../styles/global.css";
import Header from "@/components/header";
import HeroSection from "@/components/hero-section";
import PageBackground from "@/components/page-background";
import SectionTitleAnimation from "@/components/section-title-animation";
import ModulesCreatedSection from "@/components/modules-created-section";
import LogoSection from "@/components/logo-section";
import WhatWeCanDoSection from "@/components/carousel-accordion-section/what-we-can-do-section";
import ServicesOverviewSection from "@/components/carousel-accordion-section/services-overview-section";
import WhoCanBenefitSection from "@/components/who-can-benefit-section";
import WhatOurClientSaySection from "@/components/what-our-client-say-section";
import ScrollCurtainSection from "@/components/scroll-curtain-section";
import Footer from "@/components/footer";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Cleverli</title>
  </head>
  <body
    class="flex min-h-screen flex-col items-center overflow-x-hidden bg-linear-to-br from-slate-50 to-slate-100"
  >
    <div class="relative flex w-full flex-col items-center">
      {/* Background and Header Wrapper */}
      <div class="relative w-full">
        <PageBackground client:load />

        <div
          class="relative z-10 flex w-full flex-col items-center gap-8 lg:p-8"
        >
          <Header client:load pathname={Astro.url.pathname} />

          <div class="flex w-full max-w-360 flex-col items-center px-4 lg:px-0">
            <div
              class="relative flex w-full flex-col gap-10 pb-10 lg:gap-32 lg:pb-32"
            >
              <HeroSection client:load />
              <SectionTitleAnimation client:load text="What We Do Best?" />
              <ModulesCreatedSection client:load />
              <LogoSection client:load />
              <ServicesOverviewSection client:load />
              <WhatWeCanDoSection client:load />
              <div>
                <WhoCanBenefitSection client:load />
                <WhatOurClientSaySection client:load />
              </div>
            </div>
          </div>
          <div class="z-10 w-full max-w-360 px-4 lg:px-0">
            <ScrollCurtainSection client:load />
          </div>
          <Footer client:load />
        </div>
      </div>
    </div>
  </body>
</html>
